@import "~bulma/bulma";

$footer-height: 3.5rem;

.pageContainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: $footer-height;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}
